body {
  background-color: beige; 
}

.container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.covidImage{ 
  width: 25%; 
  margin-top:50px;
}
.imageMask{ 
  width: 20%; 
  opacity:60%;
}
.girlMasked{ 
  width: 10%; 
  opacity:60%;
  margin-top:200px;
}
@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
  .covidImage {
    width: 100%;
  }
  .imageMask {
    width: 100%;
  }
  .girlMasked {
    width: 100%;
  }
}
.button {
  display: flex;
  height: 40px;
  width: 80px;
  align-content: center;
  margin: 5% 0% -8% 50%;
  background-color:rgb(51, 85, 51)
}
@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
  .image {
    width: 100%;
  }
}
